body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  .nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(171, 99, 244);
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  li {
    padding: 0px 20px;
  }

  .heading {
    padding: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 138, 255);
  }

  .footer {
    padding: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(176, 255, 254);
  }
